.caramel-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page {
  background-color: #080;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: column;
  background-color: #efe;
}

.sub-head {
  background-color: #ded;
}

.mig {
  display: flex;
  flex-direction: column;
  background-color: #800;
  padding: 3px;
}

.mig-table {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.mig-table-head {
  display: flex;
  flex-direction: row;
}
.mig-table-head-col {
  /* display: flex;
  flex-direction: column; */
}

.mig-table-body {
  /* display: flex;
  flex-direction: column; */
}
.mig-table-body-row {
  display: flex;
  flex-direction: row;
}
.mig-table-body-row-col {
  /* display: flex;
  flex-direction: column; */
}
