.caramel-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page {
  background-color: #080;
}

.head {
  background-color: #dfd;
}

.sub-head {
  background-color: #dfd;
}

.mig {
  background-color: #800;
  padding: 3px;
}

.mig-table {
}

.mig-table-head {
}
.mig-table-head-th {
}

.mig-table-body {
}
.mig-table-body-row {
}
.mig-table-body-row-td {
}
